
body {
    background-color: black;
    border: 2px solid cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

#ventanaPrincipal {
    display: absolute;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url('imagen1.jpg');
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 690px;

}

h1 {

    text-align: center;
    color: white;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 40px;

}

p {
    margin-top: 260px;
    font-size: 20px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

input {
    background-color: transparent;
    width: 200px;
    height: 40px;
    font-size: 18px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 100px;
}

#nombreLibro {
    text-align: center;
    margin-left: 45px;
    margin-top: 15px;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    width: 300px;   
}


button {
    width: 215px;
    text-align: center;
    height: 40px;
    margin-top: 20px;
    margin-left: 100px;
    background-color: transparent;
    color: white;
    border-radius: 2px solid white;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    cursor: pointer;
}

#capitulo {
    text-align: center;
    margin-left: 100px;
    margin-top: 20px;
    right: 10px;
}
